<% provide(:title, "About us")%>
<!DOCTYPE html>
<html>
<head>
<title> Ruby on Rails Tutorial Sample App | <%=yield(:title)%></title>
</head>
<body>
<h1>About us</h1>
<p>
coding in ruby is absolutely fantastic
</p>
</body>
</html>
