<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
<title> Ruby on Rails Tutorial Sample App | <%=yield(:title) %></title>
</head>
<body>
<h1>Help</h1>
<p>
coding in ruby is absolutely fantastic yo
</p>
</body>
</html>


